# Track only the ASL and basic repo docs.
*
!/.gitignore
!/LICENSE
!/README.md
!/asl/
!/asl/**
!/Components/
/Components/*
!/Components/uhara10
!/Components/uharaSN2
/asl/Subnautica2LoadRemoval.asl
/asl/Subnautica2Backup.asl
/asl/Subnautica2Copy.asl
/asl/Subnautica2Test.asl
/asl/Subnautica2TestChangeable.asl